<div id="help">
<a href="http://www.reddit.com/r/AskReddit/comments/14q0fv/redditors_from_nonenglish_speaking_countries_what/">Redditors from non-English speaking countries: what is internet culture like in your first language?</a>
</div>

<center>∑</center>

<p>http://mind.d3.ru/comments/421875/#8570178</p>
<p>http://mind.d3.ru/comments/421875/#8565046</p>