<% stylesheet 'actions.css' %>


<div id="menu2" align="center">
<p>
<a href="#" onclick='showAdd()'>add</a> -
<a href="#">find</a> -
<!-- <a href="">mine</a> - -->
mine -
<a href="#">random</a> -
<a href="#" onclick='showLogin()'>login</a> - 
en / <a href="#">ru</a>
</p>
</div>

<div id="main">
	<center><p>Explore</p></center>
	<!-- <div id="action">
		<a href='#' onclick='showPopup()'>word</a>	
	</div> -->

	<center><canvas id="viewport" width="1000" height="600"></canvas></center>

	<div id="overlay">
		<div id="add">						
			<div id="close" class="square"><a href='#' onclick='closeAdd()'>x</a></div>		
						
			<table border="0">
				
				<%= form_for :action_, url: actions_path do |f| %>
				<tr><td align="right">add some action</td><td></td></tr>				
				<tr><td><%= f.text_field :name, :value => "jump with a parachute" %></td><td>name</td></tr>				
				<tr><td><%= f.text_field :tags, :value => "extreme,sky,adrenaline" %></td></td><td>tags</tr>						
				<tr><td align="right"><%= f.submit %></td><td></td></tr>
				<% end %>
				
			</table>
		</div>
		<div id="login">	
								
			<div id="close" class="square"><a href='#' onclick='closeLogin()'>x</a></div>		

			<table border="0">					
					
				<tr><td align="right">sign in</td><td></td></tr>
				<tr><td><input type="email" name="email"></td><td>email</td></tr>				
				<tr><td><input type="password" name="password"></td></td><td>password</tr>						
				<tr><td align="right"><a href="#" onclick='login()'>enter</a></td><td></td></tr>
								
			</table>			
		</div>
		
	</div>	
</div>

<% javascript 'actions.js' %>

<!-- <div id="help">
</div> -->