<% javascript 'actions.js' %>
<% stylesheet 'actions.css' %>

<div id="menu2" align="center">
<p>
<a href="">add</a> -
<a href="">find</a> -
<a href="">mine</a> -
<a href="">random</a> -
<a href="">logout</a> - 
<!-- en / <a href="">ru</a> -->
<!-- <%= link_to 'technologies', {:controller => 'vox', :action => 'technologies'} %> -
<%= link_to 'application', {:controller => 'vox', :action => 'application'} %> -
<%= link_to 'team', {:controller => 'vox', :action => 'team'} %> -->
</p>
</div>

<div id="main">
	
	<div>
	<div id="action">
		<a href='#' onclick='showPopup()'>word</a>	
	</div>
	
	<div id="overlay">
		<div id="popup">
						
			<div id="close" class="square"><a href='#' onclick='closePopup()'>x</a></div>
		
			<b>Some word</b>
			<p>All I did was add those 2 properties and a doctype to the OP's example HTML. However on further testing it seems that IE7 (or 8 in compat mode) is the problem - it seems it does not respect the value of the right property if left is also set! ( msdn.microsoft.com/en-us/library/… notes that left and right only have "partial" support in IE7). OK, I concede this solution is no good if IE7 support is important, but a great trick to remember for the future :) – Will Prescott Jan 5 '10 at 16:00</p>
			<p>Some word</p>
			<p>Some word</p>
		</div>
	</div>	
</div>

<div id="help">
</div>