<div id="menu2" align="center">
<p>
about -
<%= link_to 'team', {:controller => 'home', :action => 'team'} %> -
<%= link_to 'me', {:controller => 'home', :action => 'me'} %>
</p>
</div>

<div>
<p>Our vector - innovate.</p>
<p>Our rule is - don't do crap.</p>
<p>And we do it because it's fucking awsome.</p>
<p>Join us.</p>
</div>

<div id="help">
Independence - an opportunity not to sacrifice for a momentary benefit.
</div>