<div id="about">
<p>Pavel Kuzmin</p>
<table border="0">
<tr>
<td align="right">email:</td>
<td><a href="mailto:mpakunderscore@gmail.com">mpakunderscore@gmail.com</a></td>
</tr>
<tr>
<td align="right">twitter:</b></td>
<td><a href="http://twitter.com/mpak_">mpak_</a></td>
</tr>
<tr>
<td align="right">linkedin:</b></td>
<td><a href="http://www.linkedin.com/in/pavelkuzmin">pavelkuzmin</a></td>
</tr>
<tr>
<td align="right">cv:</b></td>
<td><a href="cv.pdf">pdf</a></td>
</tr>
<!-- <tr>
<td align="right">last.fm:</b></td>
<td><a href="http://www.last.fm/user/mpak_">mpak_</a></td>
</tr> -->
</table>
</div>