<div id="menu2" align="center">
<p>
<%= link_to 'me', {:controller => 'home', :action => 'me'} %>
</p>
</div>

artificial intelligence able to answer any question of any complexity or tell about something to the specific listener

digital interface for human sensory and motor systems

world simulation system

<!-- <div id="help"></div> -->