<div id="menu2" align="center">
<p>
about -
<%= link_to 'me', {:controller => 'home', :action => 'me'} %>
</p>
</div>

<div>
<center><p>Contrary to the common belief that the catastrophe was caused primarily by natural disaster, it has been found that government policies held the greatest responsibility. In recent times such incidents have been occurring at an alarming rate. The negligence of government towards rapid deforestation and inaction towards wrong ways of construction work, hydro power projects, mining projects are main reasons behind frequent floods and landslides.</p>

<p>The environmentalists strongly condemned government's inaction towards mushrooming of buildings and houses along the banks of the river, construction of dams, blocking of river's natural flow.</p><center>
</div>

<div id="help">
Independence - an opportunity not to sacrifice for a momentary benefit.
</div>