<p>Pavel Kuzmin</p>
<table border="0">
<tr>
<td align="right">email:</td>
<td><a href="mailto:mpakunderscore@gmail.com">mpakunderscore@gmail.com</a></td>
</tr>
<tr>
<td align="right">twitter:</b></td>
<td><a href="http://twitter.com/mpak_">mpak_</a></td>
</tr>
</table>