<p>Simple mechanism for meaningful understanding when reading or watching videos with subtitles in foreign languages.</p>
<p>[ ..here is an example(пример) with subtitles.. ]</p>
<p><b>Upload file: </b><a href="">select</a></p>
<p>Download google chrome extension: <a href="">click</a></p>
<p>Text with 80% of complexity: <a href="">find</a></p>