<div id="menu2" align="center"> 
<!-- <p> -->

<!-- while only  -->
	<!-- about me  -->
	<!-- and <%= link_to 'ideas', {:controller => 'home', :action => 'ideas'} %> -->
<!-- </p> -->
</div>

<div id="main">
<div class='edging'>
<p>Pavel Kuzmin (Project Engineer)</p>
<table border="0">
	
<tr><td align="right">email:</td>
<td><a href="mailto:mpakunderscore@gmail.com">mpakunderscore@gmail.com</a></td></tr>

<tr><td align="right">skype:</b></td>
<td><a href="skype://mpakunderscore">mpakunderscore</a></td></tr> 

<tr><td align="right">linkedin:</b></td>
<td><a href="http://www.linkedin.com/in/pavelkuzmin">pavelkuzmin</a></td></tr>

<tr><td></td>
<td><p>Greetings. I grew up in a small science city wrapped in barbed wire. I left the University and worked in various areas of IT. And I believe that the Internet and other high technologies will soon give us, people, a lot more than we had before.</p></td></tr> 

<tr><td align="right">twitter:</b></td>
<td><a href="http://www.twitter.com/mpak_">mpak_</a></td></tr><tr>
	
<tr><td align="right">last.fm:</b></td>
<td><a href="http://www.last.fm/user/mpak_">mpak_</a></td></tr>

<tr><td></td>
<td><p>Some current skills. I prefer flat organizational structure for research and development. And I think that all team members must be multifunctional.</p>
</td></tr>

<tr><td align="right">art:</b></td>
<td><a href="http://mpakunderscore.deviantart.com/">mpakunderscore</a></td></tr>

<tr><td align="right">cv:</b></td>
<td><a href="cv.pdf">pdf</a></td></tr>

<tr><td></td>
<td>
	<p>I would be involved in theoretical physics but, I think more important to create this: </br>
	- <a href='https://en.wikipedia.org/wiki/Artificial_intelligence'>Artificial Intelligence</a> (as a huge knowledge base with easy access to it) </br>
	- <a href='http://en.wikipedia.org/wiki/Virtual_reality'>Virtual Reality</a> (as a digital interface for senses and the system simulation of space)</p>
	
	<p>These tools allow us to know the universe to a whole other level.</p>
	
	<!-- <p>Theoretical physics is a branch of physics which employs mathematical models and abstractions of physical objects and systems to rationalize, explain and predict natural phenomena. This is in contrast to experimental physics, which uses experimental tools to probe these phenomena.</p> --></td></tr>

</table>
</div>
</div>

<div id="help">
	<a href="#" onclick='show_input()'></a>			
</div>
