<div id="menu2" align="center"> 
<p>
<!-- <%= link_to 'about', {:controller => 'home', :action => 'about'} %> -->
while only about me
</p>
</div>

<div id="main">
<p>Pavel Kuzmin (Project Engineer)</p>
<table border="0">
	
<tr><td align="right">email:</td>
<td><a href="mailto:mpakunderscore@gmail.com">mpakunderscore@gmail.com</a></td></tr>

<tr><td align="right">skype:</b></td>
<td><a href="skype://mpakunderscore">mpakunderscore</a></td></tr> 

<tr><td align="right">linkedin:</b></td>
<td><a href="http://www.linkedin.com/in/pavelkuzmin">pavelkuzmin</a></td></tr>

<tr><td></td>
<td><p>Greetings. I grew up in a small science city wrapped in barbed wire. I left the University and worked in various areas of IT. And I believe that the Internet and other high technologies will soon give us, people, a lot more than we had before.<p></td></tr> 

<tr><td align="right">twitter:</b></td>
<td><a href="http://twitter.com/mpak_">mpak_</a></td></tr><tr>
	
<tr><td align="right">last.fm:</b></td>
<td><a href="http://www.last.fm/user/mpak_">mpak_</a></td></tr>

<tr><td></td>
<td><p>Some current skills.<p></td></tr>

<tr><td align="right">art:</b></td>
<td><a href="http://mpakunderscore.deviantart.com/">mpakunderscore</a></td></tr>

<tr><td align="right">cv:</b></td>
<td><a href="cv.pdf">pdf</a></td></tr>

</table>
</div>

<div id="help">
<p></p>
</div>
