<div id="menu2" align="center" >
<p>
<%= link_to 'about', {:controller => 'home', :action => 'about'} %> -
team -
<%= link_to 'me', {:controller => 'home', :action => 'me'} %>
</p>
</div>

<div>
<p>- Systems Engineer (strong hardware skills, network, operating systems)</p>
<p>- Algorithm Engineer (AI and complex data analysis)</p>
<p>- Graphic Engineer (graphics engines)</p>
<p>- CV Engineer (pattern recognition)</p>
<p>- Designer (interfaces and some industrial design)</p>
<p>- 3D Modeling and Animation (facial and body)</p>
<p></p>
</div>



<div id="help">We are looking for smart and talented people: <a href="mailto:mpakunderscore@gmail.com">apply</a></div>