<div id="menu2" align="center">
<p>
<%= link_to 'overview', {:controller => 'vox', :action => 'overview'} %> -
<%= link_to 'technologies', {:controller => 'vox', :action => 'technologies'} %> -
application -
<%= link_to 'team', {:controller => 'vox', :action => 'team'} %>

</p>
</div>

<div>
<p>Of course advertising for places with medium traffic.</p>
	
<p>Information support in public places.</p>

<p>Navigation support for tourists in big cities + cultural content.</p>
</div>	