<div id="vox">
<b><%= link_to 'overview', {:controller => 'vox', :action => 'index'} %></b>
<%= link_to 'technologies', {:controller => 'vox', :action => 'technologies'} %>
application
</div>

<p>Of course advertising for places with medium traffic.</p>
	
<p>Information support in public places.</p>

<p>Navigation support for tourists in big cities + cultural content.</p>
	