<div id="menu2" align="center">
<p>
<%= link_to 'overview', {:controller => 'vox', :action => 'overview'} %> -
<%= link_to 'technologies', {:controller => 'vox', :action => 'technologies'} %> -
application -
<%= link_to 'team', {:controller => 'vox', :action => 'team'} %>

</p>
</div>

<div>
	
<p>Of course advertising for places with medium traffic (where you can "isolate" the individual and choose an interesting and unobtrusive advertising specifically for him).</p>
-	
<p>Information support in public places (information desk).</p>
-
<p>Navigation support for tourists in big cities (like <a href="http://new.pentagram.com/2013/06/new-work-nyc-wayfinding/">this</a>, but with a human-like interaction) + cultural content (assistant as a prototype of a famous person from the district).</p>

</div>	