<img src="assets/vox.jpg" style="border:20px solid white" align="right">
<p>[will be rewritten]<p>

<p>
- Intelligent (human-like) User Interface<br />
- A smart digital billboard<br /> 
- Expansion space using virtual niches<br />
<p>And here are four paragraphs describing how to do it.</p>
</p>

<p>
<b>Center:</b> a frame from the movie "The Time Machine", <a href="http://www.youtube.com/watch?v=CQbkhYg2DzM">youtube</a> (3 min)<br />
<b>Left:</b> <a href="http://www.youtube.com/watch?v=BduSDvUU6MY&feature=youtu.be">head tracking technology</a>, <a href="http://en.wikipedia.org/wiki/Siri_(software)">siri</a> (and <a href="http://en.wikipedia.org/wiki/Watson_(computer)">watson</a>), <a href="http://www.geeky-gadgets.com/samsung-22-inch-transparent-lcd-display-goes-into-production-31-03-2011/">transparent display</a><br/ >
<b>Right:</b> <a href="http://www.seeingmachines.com/product/faceapi/">faceAPI</a> (track and understand faces), <a href="http://www.iryoku.com/separable-sss-released">real-time rendering</a>
</p>