<div id="menu2" align="center">
<p>
overview -
<%= link_to 'technologies', {:controller => 'vox', :action => 'technologies'} %> -
<%= link_to 'application', {:controller => 'vox', :action => 'application'} %> -
<%= link_to 'team', {:controller => 'vox', :action => 'team'} %>
</p>
</div>

<div>		
<a href="http://www.youtube.com/watch?v=4eouFz770I4"><img src="assets/voxa1.gif" alt="Time Machine (2002) Vox System" align="right" style="margin-left: 30px; margin-bottom: 30px; margin-top: 30px;"></a>

<p>Vox - public assistant.</p>

<p>With the increasing capabilities of computers we have new ways to interact with them. And today, we have smartphones with AI (<a href="http://en.wikipedia.org/wiki/Siri_(software)">siri</a> and 
	<a href="http://en.wikipedia.org/wiki/Google_Now">google now</a>).</p>

<p><a href="http://en.wikipedia.org/wiki/IBM_Watson">IBM Watson</a> used to diagnosis in medicine. </p>

<p>With the growing technology of artificial intelligence, we can create a more perfect performance, in which he will not be different from the average person. </p>

<p>On the one hand robotics is gradually approaching it, but there's still a lot more work. A plausible three-dimensional image can be created today. And most importantly, without any glasses. And I'm talking about the <a href="http://www.youtube.com/watch?v=BduSDvUU6MY">normal 3d</a>, not a static video. </p>

<p>It's simple. Math allows process necessary for the normal display distortion of space behind the screen. Enough get the location of the viewer in relation to the screen.</p>

<!-- With the increasing ability <a href="http://en.wikipedia.org/wiki/Lenticular_lens">lenticular lens</a> technology can generate a large number of unique species of 3d for a large number of viewers. -->

<p><a href="http://www.samsung.com/us/business/commercial-display-solutions/LH22NLBVLVC/ZA">Transparent displays</a> have appeared long ago.</p>

<p>We can create it today.</p>

<a href="http://en.wikipedia.org/wiki/Intelligent_personal_assistant">Intelligent <i>personal</i> assistant</a> behaving like a man.
</div>

<div id="help">Gif is a link to youtube videos.</div>

