<div id="menu2" align="center" >
<p>
<%= link_to 'overview', {:controller => 'vox', :action => 'overview'} %> -
<%= link_to 'technologies', {:controller => 'vox', :action => 'technologies'} %> -
<%= link_to 'application', {:controller => 'vox', :action => 'application'} %> -
team
</p>
</div>

<div id ="main">
<p>- Systems Engineer (strong hardware skills, network, operating systems)</p>
<p>- Algorithm Engineer (AI and complex data analysis)</p>
<p>- Graphic Engineer (graphics engines)</p>
<p>- CV Engineer (pattern recognition)</p>
<p>- Designer (interfaces and some industrial design)</p>
<p>- 3D Modeling and Animation (facial and body)</p>
<p></p>
</div>



<div id="help"><i>We are</i> looking for smart and talented people: <a href="mailto:mpakunderscore@gmail.com">contact me</a></div>