<div id="vox">
<%= link_to 'overview', {:controller => 'vox', :action => 'index'} %>
technologies
<%= link_to 'application', {:controller => 'vox', :action => 'application'} %>
</div>

<p>1. <a href="http://en.wikipedia.org/wiki/Facial_recognition_system">Facial recognition</a> + age and gender recognition algorithm.</p>

<p>2. 3D view-dependent rendering.</p>

<p>3. The dynamic behavior of the screen.</p>

<p>4. The expansion of space and <a href="http://en.wikipedia.org/wiki/Augmented_reality">augmented reality</a> with transparent display.</p>