<div id="vox">
<%= link_to 'overview', {:controller => 'vox', :action => 'index'} %>
technologies
<%= link_to 'application', {:controller => 'vox', :action => 'application'} %>
</div>

<p>
<a href="http://en.wikipedia.org/wiki/Facial_recognition_system">Facial recognition system</a> + age and gender recognition algorithm.</p>

<p>3D view-dependent rendering.</p>

<p>The dynamic behavior of the screen.</p>

<p>The expansion of space and <a href="http://en.wikipedia.org/wiki/Augmented_reality">augmented reality</a> with transparent glass.</p>