<div id="menu2" align="center" >
<p>
<%= link_to 'overview', {:controller => 'vox', :action => 'overview'} %> -
technologies -
<%= link_to 'application', {:controller => 'vox', :action => 'application'} %> -
<%= link_to 'team', {:controller => 'vox', :action => 'team'} %>
</p>
</div>

<div id="main">
<p>Pattern recognition (+ age and gender recognition) algorithm.</p>

<p>3D view-dependent rendering.</p>

<p>Facial/body animation.</p>

<p>Speech recognition.</p>

<p>The dynamic behavior of the screen with simple AI.</p>
</div>

<!-- <p>5. The expansion of space and <a href="http://en.wikipedia.org/wiki/Augmented_reality">augmented reality</a> with transparent display.</p> -->

<div id="help">A lot of work, but this is the main directions.</div>