<% javascript 'projects.js' %>
<% stylesheet 'menu.css' %>

<div id='menu2' align='center'> 
</div>

<!-- ↯ ✪ ✶ ⭐ ♫ ⇥ ψ ♪ -->

<div id='main'>
	
	<div class='btext' onclick='touch_pdiv(this)' id='first'>	
	<p class='title'><%= link_to 'Education', {:controller => 'actions', :action => 'index'} %></p>			
	<div class='ctext'>
	<p>Graph of actions generated through inheritance on a group of tags.</p>
	<p>In physics, action is an attribute of the dynamics of a physical system. It is a mathematical functional which takes the trajectory, also called path or history, of the system as its argument and has a real number as its result. Generally, the action takes different values for different paths.[1] Action has the dimensions of [energy]·[time], and its SI unit is joule-second. This is the same unit as that of angular momentum.</p>

	<p>Physical laws are frequently expressed as differential equations, which describe how physical quantities such as position and momentum change continuously with time. Given the initial and boundary conditions for the situation, the solution to the equation is a function describing the behavior of the system (positions and momenta of the particles) at all times and all positions within the set boundaries.</p>
	</div>
	</div>	
	
	<div class='btext' onclick='touch_pdiv(this)' id='language'>
	<p class='title'><%= link_to 'Language', {:controller => 'language', :action => 'index'} %></p>	
	<div class='ctext'>
	<p>As an object of linguistic study, "language" has two primary meanings: an abstract concept, and a specific linguistic system, e.g. "French". The Swiss linguist Ferdinand de Saussure, who defined the modern discipline of linguistics, first explicitly formulated the distinction using the French word langage for language as a concept, langue as a specific instance of a language system, and parole for the concrete usage of speech in a particular language.</p>
	</div>
	</div>
	
	<!-- <div class='btext' onclick='touch_pdiv(this)' id='culture'>
	<p class='title'><%= link_to 'Culture', {:controller => 'culture', :action => 'index'} %></p>	
	<div class='ctext'>
	<p></p>
	</div>
	</div>	 -->	

	<!-- <div class='btext' onclick='touch_pdiv(this)' id='music'>		
	<p class='title'><a href='/#ctext'>Music</a></p>
	<div class='ctext'>	
	<p></p>
	</div>
	</div> -->	
	
	<!-- <div class='btext' onclick='touch_pdiv(this)' id='games'>
	<p class='title'><a href='#'>games</a> : Projects</p>
	<div class='ctext'>
	<p></p>
	</div>
	</div> -->
	
	<!-- <p>...</p> -->
	
	 <!-- href='#' -->  <!-- onclick='scrollTop()' -->
</div>

<div id='help'><!-- <a href='#'>⇧</a> --></div>