<% javascript 'projects.js' %>
<% stylesheet 'menu.css' %>

<div id='menu2' align='center'> 
<p>
join if you want
</p>
</div>

<!-- ↯ ✪ ✶ ⭐ ♫ ⇥ ψ ♪ -->

<div id='main'>
	
	<div class='btext' onclick='touch_pdiv(this)' id='first'>	
	<p class='title'><%= link_to 'Education', {:controller => 'actions', :action => 'index'} %></p>			
	<div class='ctext'>
	<p>Graph of actions generated through inheritance on a group of tags.</p>
	<p>In physics, action is an attribute of the dynamics of a physical system. It is a mathematical functional which takes the trajectory, also called path or history, of the system as its argument and has a real number as its result. Generally, the action takes different values for different paths.[1] Action has the dimensions of [energy]·[time], and its SI unit is joule-second. This is the same unit as that of angular momentum.</p>

	<p>Physical laws are frequently expressed as differential equations, which describe how physical quantities such as position and momentum change continuously with time. Given the initial and boundary conditions for the situation, the solution to the equation is a function describing the behavior of the system (positions and momenta of the particles) at all times and all positions within the set boundaries.</p>
	</div>
	</div>
	
	<div class='btext' onclick='touch_pdiv(this)' id='culture'>
	<p class='title'><%= link_to 'Culture', {:controller => 'culture', :action => 'index'} %></p>	
	<div class='ctext'>
	<p>Translation of various modern cultural features thinking from a variety of resources.</p>
	<p>Distinctions are currently made between the physical artifacts created by a society, its so-called material culture, and everything else,[5] the intangibles such as language, customs, etc. that are the main referent of the term "culture".</p>	
	<p>Cultural regions are often defined with respect to an ethnolinguistic group or religion; the larger cultural groupings are sometimes referred to as "civilizations". Subcultures have distinct aspects, but share a connection with a larger culture (whether by virtue of inhabiting the same society or by inheriting certain cultural elements). Individuals can participate in multiple cultures and subcultures; countercultures specifically reject at least some aspects of mainstream culture.</p>
	<p></p>
	</div>
	</div>	
	
	<div class='btext' onclick='touch_pdiv(this)' id='language'>
	<p class='title'><%= link_to 'Language', {:controller => 'language', :action => 'index'} %></p>	
	<div class='ctext'>
	<p>As an object of linguistic study, "language" has two primary meanings: an abstract concept, and a specific linguistic system, e.g. "French". The Swiss linguist Ferdinand de Saussure, who defined the modern discipline of linguistics, first explicitly formulated the distinction using the French word langage for language as a concept, langue as a specific instance of a language system, and parole for the concrete usage of speech in a particular language.</p>
	<p>Harold Davidson (1875–1937), rector of the Norfolk parish of Stiffkey (church pictured), was a Church of England priest who was convicted in 1932 on charges of immorality and defrocked by the Church. Ordained in 1903, he worked among London's poor and homeless. Styling himself the "Prostitutes' Padre", his declared mission was to rescue young girls he considered in danger of falling into prostitution. In this role he approached and befriended hundreds of women, and although there was little evidence of improper behaviour, he was often found in compromising situations and his neglect of his parish and family caused difficulties. A formal complaint led to church disciplinary proceedings, in which his defence was damaged beyond repair by a photograph of him with a near-naked teenage girl. Davidson then pursued a career as a showman to raise funds for his reinstatement campaign, performing novelty acts such as exhibiting himself in a barrel on the Blackpool seafront. He died after being attacked by a lion in whose cage he was appearing. Later commentators have accepted that however inappropriate his behaviour, his motives were genuine and he did not deserve the humiliations he endured. (Full article...)
	</p>
	</div>
	</div>		

	<div class='btext' onclick='touch_pdiv(this)' id='music'>		
	<p class='title'><a href='/#ctext'>Music</a></p>
	<div class='ctext'>	
	<p>This development is sometimes thought to have coincided with an increase in brain volume, and many linguists see the structures of language as having evolved to serve specific communicative and social functions. Language is processed in many different locations in the human brain, but especially in Broca's and Wernicke's areas. Humans acquire language through social interaction in early childhood, and children generally speak fluently when they are approximately three years old. The use of language is deeply entrenched in human culture. Therefore, in addition to its strictly communicative uses, language also has many social and cultural uses, such as signifying group identity, social stratification, as well as for social grooming and entertainment.</p>
	<p>Postman's Park is a 0.67-acre (2,700 m2) park in the City of London, adjacent to the site of the former head office of the General Post Office and a short distance north of St Paul's Cathedral. Opened in 1880 on the site of the former churchyard and burial ground of St Botolph's Aldersgate church, it expanded over the next 20 years to incorporate some adjacent burial grounds and nearby land previously occupied by housing. A shortage of space for burials in London meant that corpses were often laid above existing graves and covered over with soil instead of being buried, and thus Postman's Park, as an interment site for over 800 years, is significantly elevated above the streets which surround it. Since 1900 it has been the location of the Memorial to Heroic Self Sacrifice, a monument erected by George Frederic Watts to ordinary people who died saving the lives of others, and who might otherwise have been forgotten. In 1972, key elements of the park, including the Memorial to Heroic Self </p>
	</div>
	</div>	
	
	<div class='btext' onclick='touch_pdiv(this)' id='games'>
	<p class='title'><a href='#'>Games</a></p>
	<div class='ctext'>
	<p>PC games, also known as computer games, are video games played on a general-purpose personal computer rather than a dedicated video game console or arcade machine. Their defining characteristics include a lack of any centralized controlling authority and greater capacity in input, processing, and output.
	<p>PC games reached widespread popularity following the video game crash of 1983, particularly in Europe, leading to the era of the "bedroom coder".<p> From the mid-90s onward they lost mass-market traction to console games before enjoying a resurgence in the mid-2000s through digital distribution.[1][2]</p>
	</div>
	</div>	
	<p>...</p>
	 <!-- href='#' -->  <!-- onclick='scrollTop()' -->
</div>

<div id='help'><a href='#'>⇧</a></div>