<div id="menu2" align="center"> 
<p>
--
</p>
</div>

<div id="main">
<p><%= link_to 'Actions', {:controller => 'actions', :action => 'index'} %>↯ - graph of actions generated through inheritance on a group of tags.</p>
<p><%= link_to 'Culture', {:controller => 'culture', :action => 'index'} %> - translation of various modern cultural features thinking from a variety of resources.</p>
<p><%= link_to 'Language', {:controller => 'labs', :action => 'language'} %> - creating a vector of new words on a foreign language through the base of the already known words.</p>
</div>

<div id="help">?</div>