<% stylesheet 'language.css' %>
<% javascript 'language.js' %>

<div id='menu2'>
<center>
	wikipedia -
	<a href='#'>reddit</a>	
</center>
</div>

<div>
<div id='words'>
</div>
<div id='url'>
</div>
</div>

<script type="text/javascript">get_words("url")</script>