#action {
/*	border: 1px solid #CECECE;*/
}

#viewport {
	border: 1px dotted #ebebeb;
/*	border-style:solid;*/
}

#overlay {
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
        right: 0; 
        bottom: 0;      
        background-color:rgba(255,255,255,0.5); 
        z-index: 99;
}

#add {

    visibility: hidden;
    position: fixed;
	top: 200px;	

	top: 40%;	
	left: 40%;
	
	padding: 25px;	
	padding-right: 40px;		
    background: #fff;
  	text-align: left;	
	border: 1px dashed #CECECE;

}

#login {

    visibility: hidden;	
    position: absolute;

	top: 40%;	
	left: 40%;
	
	padding: 25px;	
	padding-right: 40px;		
    background: #fff;
  	text-align: left;	
	border: 1px dashed #CECECE;
	
}


#close {
	position: absolute; top: 8px; right: 15px;	
}

#popup_text {
/*	position: absolute; 
	top: 0px; 
	bottom: 0px; 
	left: 0px;
	right: 0px;*/		
}

#close a {color: #000}
#close a:link {text-decoration: none;}

#action {
	position: absolute;
	border:1px solid #CECECE;
}