.header { 
	position: relative;
	font-family: "Trebuchet MS";	
	font-size: 24px;
	height: 50px;
	border-bottom: 1px solid #000000;
}
#title {
	position: absolute; bottom: 10px; left: 15px;
}
#menu {	
	position: absolute; bottom: 10px; right: 15px;
}

div.header a {margin-right: 5px; margin-left: 5px;}
div.header a:link {text-decoration: none;}
div.header a:visited {text-decoration: none;}
div.header a:hover {text-decoration: underline;}
div.header a:active {text-decoration: underline;}

#main {
    font-family: "Verdana";
    position: absolute;
    overflow: auto;
    top: 100px;
    left:50px;
    right:50px;	
/*	border:1px solid #CECECE;*/
}