.header { 
	position: relative;
   	font-family: "Gotham Light", Helvetica, Arial, sans-serif;	
	font-size: 19px;
	height: 50px;
	border-bottom: 1px solid #CECECE;
}

div.header a {margin-right: 5px; margin-left: 5px; color: #000}
div.header a:link {text-decoration: none;}
div.header a:visited {text-decoration: none;}
div.header a:hover {text-decoration: underline;}
div.header a:active {text-decoration: none;}

p {width: 600px;}

#title {position: absolute; bottom: 10px; left: 15px;}
#menu {position: absolute; bottom: 10px; right: 15px;}

#menu2 {	
   	font-family: "Gotham Light", Helvetica, Arial, sans-serif;	
	font-size: 15px;
/*	height: 30px;*/
/*	border:1px solid #CECECE;*/
	padding-bottom: 10px;
}
#menu2 a {color: #000; font-size: 15px; border-bottom: 1px dotted;}
#menu2 a:link {text-decoration: none;} /*underline*/

#container {
    position: absolute;	
    right:0px;
    bottom: 0px;
    top: 80px;
    left:0px;
/*	background-image: url('rc2.png');*/
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

#help {
/*	width: 50%;*/
/*	padding-top: 10px;*/
/*    position: absolute;*/
/*    bottom: 0px;*/
	text-align: left;
	margin: 0 auto;
	padding-left: 80px;
	padding-top: 25px;
	padding-bottom: 25px;
/*	border:1px solid #CECECE;*/
	
	color: #333;
	font: 13px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4; 

}

#help a {color: #3489bb}
#help a:link {text-decoration: none;}
#help a:hover {text-decoration: underline;}


#main {
	color: #333;
	font: 15px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4;

	padding-left: 80px;
	padding-right: 80px;
	
/*	width: 50%;*/
/*	margin: 0 auto;*/
/*	width: 1000px;*/

/*	border:1px solid #CECECE;*/
}

#main a {color: #3489bb}
#main a:link {text-decoration: none;}
#main a:hover {text-decoration: underline;}

@font-face {
    font-family: "Gotham Light";
    src: url(gotham_light.ttf) format("truetype");
}