.header { 
/*	border-top: 2px solid #CECECE;*/
	position: relative;
   	font-family: "Gotham Light", Helvetica, Arial, sans-serif;	
	font-size: 24px;
	height: 50px;
	border-bottom: 1px solid #CECECE;

}

#vox {

	position: relative;	
   	font-family: "Gotham Light", Helvetica, Arial, sans-serif;	
	font-size: 16px;
    right: 0px;
}

div.header a {margin-right: 5px; margin-left: 5px; color: #000}
div.header a:link {text-decoration: none;}
div.header a:visited {text-decoration: none;}
div.header a:hover {text-decoration: underline;}
div.header a:active {text-decoration: none;}

#about a:link {text-decoration: none;}
#about a:visited {text-decoration: none;}
#about a:hover {text-decoration: underline;}
#about a:active {text-decoration: none;}

p {width: 700px;}

#title {position: absolute; bottom: 10px; left: 15px;}
#menu {position: absolute; bottom: 10px; right: 15px;}

#main {
	font-family: "Verdana";
    position: absolute;
    overflow: auto;
    top: 100px;
    left:50px;
    right:50px;	
/*	border:1px solid #CECECE;*/
}

@font-face {
    font-family: "Gotham Light";
    src: url(gotham_light.ttf) format("truetype");
}