#url {
	font-family: sans-serif;
	font-size: 0.8em;
	line-height: 1.5;
	
/*    right: 100px;	*/
	padding-top: 20px;
/*	padding-right: 100px;*/
	border-top: 1px solid #000;	
}

#words {
/*    position: relative;	*/
/*	background-color: #fff;*/
	background-color: rgba(255, 255, 255, 0.5);
	font-family: sans-serif;
	font-size: 0.8em;
	line-height: 1.5;
	
	text-align: right;
    position: absolute;	
    right: 0px;	
	weight: 200px;
/*	top: 55px;*/
	
	padding: 20px;
	border: 1px dashed #CECECE;
}
