.btext {		
	width: 700px;
/*	height: 150px;*/
	position: relative;
	overflow: hidden; 
/*	border-bottom: 1px dashed #ddd;*/
/*	border-top: 1px dashed #ddd;*/
}
.btext:before {	
    content: ""; 
    position: absolute; 
    z-index: 1; 
    width: 96%;  
    bottom: -10px; 
    height: 7px; 
    left: 3%; 
    border-radius: 100px / 5px; 
/*    box-shadow:0 0 18px rgba(0,0,0,0.6); */
}
.ctext {
/*	padding-top: 10px;	*/
	padding-left: 30px;
	padding-bottom: 30px;	
/*	border: 1px dashed #ddd;*/
}
.title {
   	font-family: "Gotham Light", Helvetica, Arial, sans-serif;
}

#first {
/*	height: auto;*/
}