<% javascript 'labs.js' %>
<% stylesheet 'labs.css' %>

<p>
<a href="#" onclick='face()'>(ccv) face detect</a> / 
<a href="#" onclick='background()'>background subtraction algorithm</a> / 
<a href="#" onclick='something()'>something</a> / 
<a href="#" onclick='stop()'>stop</a>
</p>

<div class="wrapper">
	<canvas width="200" height="160" class="scale" style="border: 1px solid #CECECE"></canvas>
</div>
<p>time: <var id="time"></var></p>

<!-- <input x-webkit-speech> -->

<div id="labs_help">
<p>Works best in <a href="https://chrome.google.com">Google Chrome</a>.</p>
<p>Still requires chrome users to activate Media Source in <i>chrome://flags/:</i></p>
<p><a href="http://caniuse.com/stream">Can I use</a> getUserMedia/Stream API?</p>
</div>

<script type="text/javascript">box()</script>
