<p><a href="http://caniuse.com/stream">Can I use</a> getUserMedia/Stream API?</p>
<p>Still requires chrome users to activate Media Stream in <i>chrome://flags/:</i></p>
  
<script>	
    if(navigator.webkitGetUserMedia!=null) {
        var options = {
            video:true,
            // audio:true
        };
        navigator.webkitGetUserMedia(options,
         function(stream) {
            var video = document.querySelector("video");
            video.src = window.webkitURL.createObjectURL(stream);
         }, function(e) {
                    console.log("There was a problem with webkitGetUserMedia");
                });
    }
	
	function drawFrame() {
	    var canvas = document.querySelector('canvas'),
	        context = canvas.getContext('2d');

	    context.drawImage(video, 0, 0, canvas.width, canvas.height);
	    setTimeout(drawFrame, 50);
	}
</script>