<% stylesheet 'labs.css' %>
<% javascript 'labs.js' %>

<div id="menu2" align="center" >
<!-- <p>
<a href="#" onclick='face()'>connect</a> - 
<a href="#" onclick='stop()' id='stop'>stop</a> -
<a href="#" onclick='system()'>system</a>
</p> -->
</div>

<div id="main">
<!-- <div id="mod">
</div> -->

<div class="wrapper" visibility='hidden'>
	<canvas width="200" height="160"  class="scale"></canvas>
</div>

<canvas width="200" height="160"  class="scale"></canvas>
<!-- <p>recommended browser: <a href="https://chrome.google.com">google chrome</a></p> -->
<!-- fps:  --><var id="time"></var>

<!-- <p><a href="http://caniuse.com/stream">Can I use</a> getUserMedia/Stream API?</p> -->
<!-- <p>Still requires chrome users to activate Media Source in <i>chrome://flags/:</i></p> -->

<div id="labs">
	<!-- <div id="back"></div> -->
	<div id="box">
		<!-- I love flying cubes <3 -->
	</div>
	<!-- <div id="box2"></div>	 -->
</div>

</div>


<div id="help"><!-- <a href="#" onclick='spin_round()'>X</a> --><!-- <input id="voice" x-webkit-speech /> --></div>

<script type="text/javascript">make_box()</script>