<p><b>Language</b></p>
<p>Simple mechanism for meaningful understanding when reading or watching videos with subtitles in foreign languages.</p>
<p>[ ..here is an example(пример) with some text.. ]</p>

<p>Upload file: <a href="">click</a></p>
<p>Download google chrome extension: <a href="">soon</a></p>
<p>Find text with 80% coverage: <a href="">soon</a></p>
--
<p><b>Music</b></p>
<p>Based on last.fm free music player for chrome: <a href="https://chrome.google.com/webstore/detail/lastfm-free-music-player/bbncpldmanoknoahidbgmkgobgmhnafh?hl=en">download</a></p>
