<p><a href="http://caniuse.com/stream">Can I use</a> getUserMedia/Stream API?</p>
<p>Still requires chrome users to activate Media Source in <i>chrome://flags/:</i></p>

<p><a href="#" onclick='foo()'>Run (ccv) face detect</a> / <a href="#" onclick='color()'>Run color detect</a> / <a href="#" onclick=''>Stop</a></p>

<div class="wrapper">
	<canvas width="200" height="160" class="scale" style="border: 1px solid #CECECE"></canvas>
</div>
<p>time: <var id="time"></var></p>

<script type="text/javascript">box();</script>
